html{
    height: 100%;
    margin:0;
    
}



body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    
    
    
    
    

}
/* first containment start */
.header-and-links{
    flex: 1;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    gap: 60%;
    
    


}

.header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

}

.header-links{
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;


}
/* first containment end */

/* second containment start */
.title-and-photo{
    flex:1;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    gap:100px
    
}

.title{
    color: #F9FAF8;
    font-size: 18px;



}

.title #awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.title #underline{

    padding-left: 10px;
    padding-top: 10px;
}

.signup{
    padding: 12px 25px;
    color: #F9FAF8;
    border: none;
    border-radius: 25px;
    background-color: #3882f6;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease;

}

.signup:hover{
background-color: #E5E7EB;
color: #3882f6;

}

.photo-place{

    width: 500px;
    height: auto;
    padding: 0;
}

.photo-place img{
width: 100%;
height: auto;
mix-blend-mode:screen;



}


/* second containment end */

/* third containment start */

.header-ran-boxes{

    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
    padding-top: 15px;
}

.header-random{

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.box-container{

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap:15px;
}

.box{
    border: 4px solid #3882f6;
    width: 200px;
    height:200px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.7s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    overflow: hidden;
    position: relative;




}

.box img{
    object-fit:cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    transition: 0.5s;


}

.box img:hover{
    transform: scale(1.3);
    /* border: 4px solid #3882f6; */
}

.box:hover{
background-color: #3882f6;

}

.four-boxes{
    display: flex;
    justify-content: space-between;
    gap: 300px;
}




/* third containment end */
.quotes{
    flex: 1;
}

.sign-up{
    flex: 1;
}

.footer{
    flex: 0;
}